body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Oswald', sans-serif;
}

#bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 10%;
  position: absolute;
}

.left-column {
  height: 100vh;
}

#todo-div {
    background: black;
    color: white;
    text-shadow: 0.2px 0.9px rgb(4, 228, 4);
    border: transparent;
    line-height: 1.5rem;
    opacity: 0.6;
    padding: 1.5vh 1.5vw;
    letter-spacing: 0.1rem;
    border-radius: 5px;
}

#todos {
  color: white;
  text-shadow: 0.2px 0.2px rgb(4, 228, 4);
}

#num-of-todos {
  font-size: 1rem;
}

input[type="text"]#todo-input::-webkit-input-placeholder {
  color: green;
  font-weight: 400;
  width: 200px;
}

.todo-btn {
  font-size: 0.7rem;
}

#todo-delete {
  font-size: 0.6rem;
}

li {
  list-style: none;
}

#todo-error{
  color: red;
  font-size: 2em;
}

.todo-checkbox,
.completed {
  float: right;
}

.completed {
  font-size: 0.8rem;
}

#weather {
    background: black;
    color: white;
    text-shadow: 0.2px 0.9px yellow;
    border: transparent;
    line-height: 0.6rem;
    opacity: 0.6;
    letter-spacing: 0.1rem;
    padding: 1.5vh 1.5vw;
    font-size: 0.97rem;
    border-radius: 5px;
}

#quote-div {
    background: black;
    color: white;
    text-shadow: 0.2px 0.9px blue;
    border: transparent;
    line-height: 0.3rem;
    opacity: 0.6;
    padding: 1.5vh 1.5vw;
    letter-spacing: 0.1rem;
    font-weight: 300;
    border-radius: 5px;
}

.author {
  float: left;
}

#next-quote {
  float: right;
}

.after-author {
  margin-bottom: 9vh;
}

#date {
  font-size: 2rem;
  color: white;
  text-shadow: 1px 2px black;
}

#clock {
  font-size: 12rem;
  font-family: 'Orbitron', sans-serif;
  color: rgb(3, 194, 3);
  text-shadow: 3px 4px black;
  font-weight: 600;
  letter-spacing: 1.2rem;
  opacity: 0.6;
}

#greeting {
  color: white;
  text-shadow: 1px 2px black;
  font-weight: 500;
}

#price-div {
    background: black;
    color: white;
    text-shadow: 0.2px 0.9px red;
    border: transparent;
    line-height: 0.3rem;
    opacity: 0.6;
    padding: 1.5vh 1.5vw;
    letter-spacing: 0.1rem;
    font-weight: 300;
    border-radius: 5px;
}

#user:hover {
  cursor: pointer;
}

#user-form {
  margin-left: 23vw;
}

#metals-div {
    background: black;
    color: white;
    text-shadow: 0.2px 0.9px red;
    border: transparent;
    line-height: 0.3rem;
    opacity: 0.6;
    padding: 1.5vh 1.5vw;
    letter-spacing: 0.1rem;
    font-weight: 300;
    border-radius: 5px;
}

footer {
    position: fixed;
    height: auto;
    width: 100vw;
    background-color: transparent;
    bottom: 2vh;
}

#next-img,
#next-quote {
  text-shadow: 1px 1px black;
  letter-spacing: 0.06rem;
}

.table-rows {
  line-height: 1.5rem;
}

.table-header {
  line-height: 2.4rem;
  font-size: 1.1rem;
}

#change24 {
  font-size: 0.99rem;
}

#news {
  color: white;
}

.table-header {
  text-decoration: underline;
}

@media (hover: none) {

  body {
    background-color: black;
    overflow-x: hidden !important
  }

  #bg-image {
    position: relative;
  }

  #date {
    margin-top: 18vh;
    font-size: 1.5rem;
  }

  #clock {
    font-size: 4rem;
  }

  #greeting {
    font-size: 1.5rem;
    margin-bottom: 10vh;
  }

}