body {
  margin: 0;
  padding: 0;
}

#bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 10%;
  position: absolute;
}



#todo-error{
  color: red;
  font-size: 2em;
}